<div class="chatroom ">
    <div class="navbar">
      <div class="container">
        <h4>Preorder food and beverage</h4>
        <div class= "d-flex align-items-center">
          <div class="notif text-center d-flex align-content-center justify-content-center flex-wrap">
            <i class="far fa-bell "></i>
          </div>
          <div>
            <% if user_signed_in? %>
              <% if current_user.avatar.attached? %>
              <div style="margin-left: 15px;">
                <img src="<%= cl_image_path current_user.avatar.key , height: 10 %>" class="avatar avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <div class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
                </div>
              </div>
              <% else %>
              <div style="margin-left: 15px;">
                <img src='https://pic.onlinewebfonts.com/svg/img_258083.png' alt=""class ="avatar avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <div class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="chat content-wrapper">
    <div class="slider" id="slide-shop">
        <% @shops.each do |shop| %>
          <div class="slide"style="">
              <div class="card-infos">
                <div class="truck-photo">
                  <img src="<%= cl_image_path shop.image.key %>" style="height: 247px;width:271px;margin:14px;border-radius:8px;" >
                </div>
                  <div>
                    <div class="text"style=margin-left:15px;>
                      <h3 style="font-size:20px;"><%= shop.name.capitalize %></h3>
                    </div>
                    <div class="" style=display:flex;justify-content:flex-start;color:#767987;margin-bottom:10px;margin-left:15px;height:25px>
                      <p><i class="fas fa-map-marker-alt"></i>   Gaudelet</p>
                    </div>
                    <div class="rating" style="margin-left:18px;">
                      <div>
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                      </div>
                      <h6 style="margin-left:10px;margin-top:5px;font-size:12px;"> <%= rand(4.1..4.9).floor(1) %> /5</h6>
                    </div>
                  </div>
                  <div style="display:flex;justify-content:center;">
                    <div class=button-shop>
                      <%= link_to "See all menu", festival_shop_path(@festival.id, shop.id)%>
                    </div>
                  </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
