<div class="navbar">
  <div class="container">
    <h4><%=@shop.name.capitalize%></h4>
    <div class= "d-flex align-items-center">
      <div class="notif text-center d-flex align-content-center justify-content-center flex-wrap">
        <i class="far fa-bell "></i>
      </div>
      <div>
        <% if user_signed_in? %>
          <% if current_user.avatar.attached? %>
          <div style="margin-left: 15px;">
            <img src="<%= cl_image_path current_user.avatar.key , height: 10 %>" class="avatar avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <div class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
            </div>
          </div>
          <% else %>
          <div style="margin-left: 15px;">
            <img src='https://pic.onlinewebfonts.com/svg/img_258083.png' alt=""class ="avatar avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <div class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="content-wrapper chatroom container-fluid">
  <div class="chat">
    <% @shop.items.each do |item| %>
      <li style="list-style: none;">
        <div class="card-product">
          <img src="<%= cl_image_path item.image.key , height: 10 %>">
          <div class="card-product-infos">
            <h2><%= item.name.capitalize %> - <%= item.price %> €</h2>
            <strong><h6><%= item.description %></p></h6></strong>
              <%= form_tag orders_path do %>
              <%= hidden_field_tag 'item_id', item.id %>
              <%= submit_tag 'Add to cart', class: 'btn' %>
              <% end %>
          </div>
        </div>
      </li>
    <% end  %>
  </div>
</div>
