<div class="chatroom container-fluid">
  <div class="chat" style="margin-top:10px">
    <h2 class="text-center pt-5"><%=@shop.name.capitalize%></h2>
    <% @shop.items.each do |item| %>
      <li style="list-style: none;">
        <div class="card-product">
          <img src="<%= cl_image_path item.image.key , height: 10 %>">
          <div class="card-product-infos">
            <h2><%= item.name.capitalize %> - <%= item.price %> €</h2>
            <strong><h6><%= item.description %></p></h6></strong>
              <%= form_tag orders_path do %>
              <%= hidden_field_tag 'item_id', item.id %>
              <%= submit_tag 'Add to cart', class: 'btn' %>
              <% end %>
          </div>
        </div>
      </li>
    <% end  %>
  </div>
</div>
