<div class="reminder container-fluid pt-3 ">
    <h1 class="text-center">All your reminders</h1>
    <div class="messages chat" data-controller="reminder-subscription" data-reminder-subscription-friend-id-value="<%= @reminder.id %>" data-currentUser="<%= @user.id%>" >
      <%# <% @chatroom.messages.each do |message| %>
      <% @reminders.each do |reminder| %>
      <li>
      <img src="<%= cl_image_path reminder.artist.image.key , height: 1 %>">
        <%= reminder.artist.name %>

      <%= "you lauched your reminder #{reminder.start_time.strftime("at %I:%M%p")}" %>
      <br>
      <%= "The artist you want to see start #{reminder.end_time.strftime("at %I:%M%p")}"%>
      </li>
        <%# <%= render "messages/message", message: message %>
      <% end %>
    </div>
  <div class="mt-2">
    <div class="mb-0">
    </div>
  </div>
</div>
