<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">



  <div class="container-fluid">

    <button class="hamburger hamburger--spin" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-controller="burger" data-action="click->burger#activate">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "outlogo.png" %>
    <% end %>

    <div>
      <% if user_signed_in? %>
        <% if current_user.avatar.attached? %>
          <div style="margin-right: 5px;">
            <img src="<%= cl_image_path current_user.avatar.key , height: 10 %>" class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
          </div>
        <% else %>
          <div style="margin-right: 5px;">
            <img src='https://pic.onlinewebfonts.com/svg/img_258083.png' alt=""class ="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mt-1">
        <% if user_signed_in? %>

          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Friends", "/friends", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
