<h1>Hello <%= @user.first_name.capitalize %></h1>
<br>
<div class="add"><%= link_to "Add", "/friends/new" %><h2>(<%= @friends.length %>)</h2></div>
<div class="friends">
    <% if current_user.friends != nil %>
      <% friends = current_user.friends %>
      <% friends.each do |friend| %>
      <li><img class="avatar-large" src="<%= cl_image_path friend.user.avatar.key, height: 10 %>" alt=""> <%= friend.user["username"] %>
      <i class="fas fa-user-times"></i>
      <i class="fas fa-location-arrow"></i></li>
      <% end  %>
    <% end  %>
</div>
