
<div class="banner content-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.euronews.com/articles/stories/05/42/38/88/1440x810_cmsv2_6e94f611-cc4a-59b4-a57e-d7b9fe7336c8-5423888.jpg); object-fit: cover:">
  <div class="container">
    <h1 class="text-center" style="margin-bottom: 20px;">Welcome to <strong> <%= Festival.all.first.name %></strong>, <%= current_user.first_name %></h1>
    <div class="cards mt-5">
      <div class="card-category">
        <div class="text-center mt-2"><%= image_tag "chat.png", alt: "Le Wagon", width: 60 %></div>
        <p class="text-center mt-2"><%= link_to "Chat", "/festivals/1/chatrooms"%></p>
      </div>

      <div class="card-category text-center mt-2">
        <div><%= image_tag "panneau-de-direction.png", alt: "Le Wagon", width: 60 %></div>
        <p> <%= link_to "Map", "/map"  %></p>
      </div>

      <div class="card-category text-center mt-2">
        <div><%= image_tag "friendship.png", alt: "Le Wagon", width: 60 %></div>
        <p><%= link_to "Friend", "/friends"  %></p>
      </div>

      <div class="card-category text-center mt-2">
        <div><%= image_tag "concert.png", alt: "Le Wagon", width: 60 %></div>
        <p>Planning</p>
      </div>

      <div class="card-category text-center mt-2">
        <div><%= image_tag "fast-food.png", alt: "Le Wagon", width: 60 %></div>
        <p><%= link_to "Shops", festival_shops_path(festival_id: 1) %></p>
      </div>

      <div class="card-category text-center mt-2">
        <div><%= image_tag "calling.png", alt: "Le Wagon", width: 60 %></div>
        <p>SOS</p>
      </div>
    </div>

  </div>
</div>
