<div class="container mt-3">
  <div class="row">
    <div class="col-6"><%= image_tag "fast-food.png", alt: "Le Wagon", width: 60 %><p>Food & Beverage</p></div>
    <div class="col-6" ><%= image_tag "panneau-de-direction.png", alt: "Le Wagon", width: 60 %><p>Map</p></div>
  </div>
  <div class="row">
    <div class="col-6"><%= image_tag "friendship.png", alt: "Le Wagon", width: 60 %><p>Friends</p></div>
    <div class="col-6"><%= image_tag "calling.png", alt: "Le Wagon", width: 60 %><p>Help<p></div>
  </div>
  <div class="row">
    <div class="col-6"> <%= image_tag "store.png", alt: "Le Wagon", width: 60 %><p>Shop</p></div>
    <div class="col-6"><%= image_tag "concert.png", alt: "Le Wagon", width: 60 %><p>Events</p></div>
  </div>
</div>
