<div class="content-wrapper">
  <div class="navbar">
    <div class="container">
      <h4>Welcome to Batch Party</h4>
      <div class= "d-flex align-items-center">
        <div class="notif text-center d-flex align-content-center justify-content-center flex-wrap">
         <a href="/notification"><i class="far fa-bell "></i></a>
        </div>
        <div>
          <% if user_signed_in? %>
            <% if current_user.avatar.attached? %>
            <div style="margin-left: 15px;">
              <img src="<%= cl_image_path current_user.avatar.key , height: 10 %>" class="avatar avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <div class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
              </div>
            </div>
            <% else %>
            <div style="margin-left: 15px;">
              <img src='https://pic.onlinewebfonts.com/svg/img_258083.png' alt=""class ="avatar avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <div class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="planning-home d-flex justify-content-between">
      <h5>Planning & reminder</h5>
      <a href="festivals/1/days"><p>See all <i class="fas fa-chevron-right"></i></p></a>
    </div>
  </div>

  <div class="slider-planning">
    <% if current_user && current_user.reminders.any? %>
      <% current_user.reminders.each do |reminder| %>
        <div class="slide-planning">
          <div class="planning-image d-flex justify-content-between" style="background-image: url(<%= cl_image_path reminder.artist.image.key %>)">
            <div class="vignette-date text-center">
              <p><%= reminder.artist.start_time.strftime("%d") %></p>
              <p><%= reminder.artist.start_time.strftime("%^b") %></p>
            </div>
            <div>
              <i class="fas fa-bookmark"></i>
            </div>
          </div>
          <h3><%= "#{reminder.artist.name}"%></h3>
          <p><%= "#{reminder.end_time.strftime("at %I:%M%p")}"%></p>
          <% reminder.artist.reminders.where.not(user: current_user).each do |remind| %>
            <% if remind.user.avatar.attached? %>
              <div class="avatar-list">
                <ul>
                  <li><img class="avatar" src="<%= cl_image_path remind.user.avatar.key, height: 10 %>" alt=""></li>
                </ul>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end  %>

</div>
