<div class="navbar">
  <div class="container">
    <h4>Select a scene</h4>
    <div class= "d-flex align-items-center">
      <div class="notif text-center d-flex align-content-center justify-content-center flex-wrap">
        <a href="/notification"><i class="far fa-bell "></i></a>
      </div>
      <div>
        <% if user_signed_in? %>
          <% if current_user.avatar.attached? %>
          <div style="margin-left: 15px;">
            <img src="<%= cl_image_path current_user.avatar.key , height: 10 %>" class="avatar avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <div class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
            </div>
          </div>
          <% else %>
          <div style="margin-left: 15px;">
            <img src='https://pic.onlinewebfonts.com/svg/img_258083.png' alt=""class ="avatar avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <div class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid content-wrapper days schedule pt-2">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="friday-tab" data-bs-toggle="tab" data-bs-target="#Friday" type="button" role="tab" aria-controls="Friday" aria-selected="true">Gaudelet</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="saturday-tab" data-bs-toggle="tab" data-bs-target="#Saturday" type="button" role="tab" aria-controls="Saturday" aria-selected="true">Le Perchoir</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="sunday-tab" data-bs-toggle="tab" data-bs-target="#Sunday" type="button" role="tab" aria-controls="Sunday" aria-selected="true">La Rotonde</button>
      </li>
    </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="Friday" role="tabpanel" aria-labelledby="friday-tab">
      <div data-controller="reminder">
        <% @days[0].artists.each do |artist| %>
          <li style="list-style: none;">
            <div class="card-product">
              <img src="<%= cl_image_path artist.image.key , height: 10 %>">
              <div class="card-product-infos">
                <h2><%= artist.name %></h2>
                <strong><h6><%= artist.start_time.strftime("at %I:%M%p") %></h6></strong>
                <%= link_to "Add a reminder", festival_day_artist_reminders_path(end_time: artist.start_time.strftime("at %I:%M%p"), artist_id: artist, day_id: @days[0].id), method: :post %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="Saturday" role="tabpanel" aria-labelledby="saturday-tab">
      <div data-controller="reminder">
        <% @days[1].artists.each do |artist| %>
          <li style="list-style: none;">
            <div class="card-product">
              <img src="<%= cl_image_path artist.image.key , height: 10 %>">
              <div class="card-product-infos">
                <h2><%= artist.name %></h2>
                <strong><h6><%= artist.start_time.strftime("at %I:%M%p") %></h6></strong>
                <%= link_to "Add a reminder", festival_day_artist_reminders_path(end_time: artist.start_time.strftime("at %I:%M%p"), artist_id: artist, day_id: @days[1].id), method: :post %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="Sunday" role="tabpanel" aria-labelledby="sunday-tab">
      <div data-controller="reminder">
        <% @days[2].artists.each do |artist| %>
          <li style="list-style: none;">
            <div class="card-product">
              <img src="<%= cl_image_path artist.image.key , height: 10 %>">
              <div class="card-product-infos">
                <h2><%= artist.name %></h2>
                <strong><h6><%= artist.start_time.strftime("at %I:%M%p") %></h6></strong>
                <%= link_to "Add a reminder", festival_day_artist_reminders_path(end_time: artist.start_time.strftime("at %I:%M%p"), artist_id: artist, day_id: @days[2].id), method: :post %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
