<div class="container-fluid content-wrapper chatroom ">
  <div class="chat">
    <h2 class="text-center"><%=@day.name%></h2>
    <div data-controller="reminder">
    <% @day.artists.each do |artist| %>
      <li style="list-style: none;">
        <div class="card-product">
          <img src="<%= cl_image_path artist.image.key , height: 10 %>">
          <div class="card-product-infos">
            <h2><%= artist.name %> </h2>
            <p><%= artist.start_time %></p>
            <p><%= artist.finish_time %></p>
            <%= submit_tag 'Reminder', class: 'btn btn-primary', data: {action: "click->reminder#activate"} %>
          </div>
        </div>
      </li>
    <% end %>
    </div>
  </div>
</div>
