
<h2 class="text-center"><%=@day.name%></h2>

<% @day.artists.each do |artist| %>
  <li style="list-style: none;">
    <div class="card-product">
      <img src="https://img.discogs.com/E6cMuuzsivFgpFLAD0ZaJTG_smA=/600x600/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-487291-1448024086-3738.jpeg.jpg" />
      <div class="card-product-infos">
        <h2><%= artist.name %> </h2>
        <p><%= artist.start_time %></p>
        <p><%= artist.finish_time %></p>
          <%= submit_tag 'Reminder', class: 'btn btn-primary' %>
      </div>
    </div>
  </li>
<% end  %>

