<div class="container">
  <div class="row py-4">
    <div class="col-md-3">
    <%# <%= image_tag @order.teddy.photo_url, width: '100%' %>
    </div>
    <div class="col" style="margin-top:40%;background-color:#181F37;padding:20px;margin-left:15px;margin-right:15px;border-radius:8px;display:flex;flex-direction: column;
    align-content: flex-start;">
      <h1 style="color:#8661C1;">Checkout summary</h1>
      <p>Thank you for your purchase !</p>
      <p>You bought <strong style="color:#8661C1;"><%= @order.item.name.capitalize %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <button id="pay" style="background-color:#8661C1; color:#EEEEEE; padding:10px;border-radius:8px;"><i class="far fa-credit-card"></i></button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
